<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div id="app" style="display: none;">
  <main class="fd-page">
    <header class="fd-page__header">
      <div class="fd-action-bar">
        <div class="fd-action-bar__header">
          <h3 class="fd-action-bar__title">To-Do</h3>
        </div>
        <p class="fd-action-bar__description">Prepare to-do list for your trip</p>
      </div>
    </header>
    <div class="fd-page__content">
      <section class="fd-section">
        <div class="fd-panel">
          <div class="fd-panel__body">
            <form class="fd-has-margin-bottom-medium" v-on:submit.prevent>
              <div class="fd-form-item">
                <div class="fd-input-group">
                  <input class="fd-input fd-input-group__input" type="text" placeholder="Add new todo item"
                         v-model="newTodo.description" maxlength="280">
                  <span class="fd-input-group__addon fd-input-group__addon--button">
                <button type="submit" class="fd-input-group__button fd-button fd-button--light" v-on:click="addNew()">
                  Add
                </button>
              </span>
                </div>
              </div>
            </form>
            <ul class="fd-list">
              <li class="fd-list__item" v-for="todo in todos">
                <div class="fd-form-item todo-label">
                  <input type="checkbox" v-bind:id="todo.id" class="fd-checkbox fd-has-margin-right-medium"
                         v-on:change="updateState(todo)" v-model="todo.isDone">
                  <label class="fd-checkbox__label" v-bind:for="todo.id">
                    <span class="fd-list__title" v-bind:class="{'done': todo.isDone}">{{todo.description}}</span>
                  </label>
                </div>

                <button class="fd-button" type="button" v-on:click="remove(todo)"><span class="sap-icon--delete"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </div>
  </main>
</div>
</body>
</html>
